a{
    text-decoration: none;
    color: white;
}

body {
    width: 100%;
    margin: none;
    height: 100%;
    overflow-x: hidden;
}

.menu-top {
    width: 100%;
    font-family: 'Lato';
    background-image:linear-gradient(black, transparent);
}

ul.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    float: right;
    margin-right: 10px;
}

ul.top-nav li {
    float: left;
}

ul.top-nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 22px;
}
ul.top-nav li a:hover{
    text-decoration: underline;
}

#Home h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 10%;
    color: #95C900;
    text-decoration: underline;
    font-family: 'Roboto Condensed';
} 


.background-header {
    background-image: url(images/StockSnap_7QIMOILZN7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: -100;
}

#section1 {
    width: 100vw;
    height: 100vh;
    background-color: #336699;
    position: absolute;
    top: 100%;
 
}

#section2 {
    width: 100vw;
    height: 80vh;
    background-color: #666666;
    position: absolute;
    top: 200%;
}

#section3{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 280%;
    
}

.iphone {
    height: 750px;
    width: auto;
    position: absolute;
    margin-left: 60%;
    margin-top: -20%;
    display: block;
     
}


/*
.loader {
    position: fixed;
    z-index: 9999;
    background-color: dimgrey;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /*cursor: wait;*/


}
/*
.center-loading {
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
}

/*loading*/
/*
.loading,
.loading:before {
    border: solid 8px rgba(34, 153, 204, .5);
    border-radius: 10px;
    display: inline-block;
    height: 70px;
    width: 70px;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.loading {
    margin: 15px;
    position: relative;
    -webkit-animation-name: animation;
}
.loading:before {
    content: '';
    display: block;
    left: -8px;
    position: absolute;
    top: -8px;
    -webkit-animation-name: animationreverse;
}
@-webkit-keyframes animation {
    0%,
    60% {
        -webkit-transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(90deg);
    }
}
@-webkit-keyframes animationreverse {
    0%,
    60% {
        -webkit-transform: rotate(180deg);
    }
    
    100% {
        -webkit-transform: rotate(0deg);
    }
}
*/