     
.x-menu {
  height: 25px;
  width: 28px;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 10;
  cursor: pointer;
}
.x-menu span {
  transition: all .3s ease;
}
.x-menu #s1 {
  top: 0;
  transform: rotate(0);
}
.x-menu #s2 {
  top: 9px;
  opacity: 1;
}
.x-menu #s3 {
  top: 18px;
  transform: rotate(0);
}
.x-menu.active span {
  background-color: white;
}
.x-menu.active #s1 {
  transform: rotate(45deg);
  top: 10px;
}
.x-menu.active #s3 {
  transform: rotate(-45deg);
  top: 10px;
}
.x-menu.active #s2 {
  opacity: 0;
  top: 9px;
}
.x-menu span {
  position: absolute;
  display: block;
  background-color: red;
  width: 30px;
  height: 5px;
}

a {
  padding: 10px 0 10px 0;
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 38px;
  color: white;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.navigation {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -90%;
  display: block;
  transition: all .3s ease;
}
.navigation.active {
  position: fixed;
  top: 0;
  background-color: #708090;
}
.navigation nav {
  position: relative;
  height: 400px;
  width: 200px;
  top: calc(50% - 200px);
  left: calc(50% - 100px);
}